# gitignore

Web/node_modules
Web/.cache

# Only apps should have lockfiles
Web/yarn.lock
Web/yarn-error.log
Web/package-lock.json
Web/dist
Web/dist/server_monitor.css
Web/dist/server_monitor.js
Web/npm-debug.log

Release
tools

packages
.vs
ServerMonitor/ServerMonitor.csproj.user
ServerMonitor/ServerMonitor.csproj.vspscc
ServerMonitor/bundle.js
ServerMonitor/bundle.js.gz
ServerMonitor/bundle.js.map
ServerMonitor/styles.css.map
ServerMonitor/styles.css
ServerMonitor/styles.css.gz
ServerMonitor/index.html
ServerMonitor/bin
ServerMonitor/obj
ServerMonitor/ServerMonitor.db
ServerMonitor/settings.json
ServerMonitor/whitelist.json