# gitignore

node_modules
.cache

# Only apps should have lockfiles
yarn.lock
yarn-error.log
package-lock.json
dist
dist/server_monitor.css
dist/server_monitor.js
npm-debug.log


_server/packages
_server/.vs
_server/ServerMonitor/ServerMonitor.csproj.user
_server/ServerMonitor/ServerMonitor.csproj.vspscc
_server/ServerMonitor/bundle.js
_server/ServerMonitor/bundle.js.map
_server/ServerMonitor/styles.css.map
_server/ServerMonitor/styles.css
_server/ServerMonitor/index.html
_server/ServerMonitor/bin
_server/ServerMonitor/obj