<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cassia" version="2.0.0.60" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="LiteDB" version="4.1.4" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Web.Administration" version="11.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net472" />
  <package id="System.Linq" version="4.1.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
  <package id="TaskScheduler" version="2.5.21" targetFramework="net472" />
</packages>