<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="links" type="ServerMonitor.Helpers.LinksConfigSection, ServerMonitor"/>
  </configSections>
  <links>
    <add name="Fdim" url="https://propp-jav.com:8083/MessageBroker/ping" username="User" password="Password"/>
    <add name="ElasticSearch" url="https://localhost:9200/" username="usaer" password="1234"/>
  </links>
  <appSettings>
    <add key="IISAppPoolRegex" value="(.*App.+).IdP|(.*App.+).Web|(.*App.+).Api.*|(.*App.+)|(.+)"/>
    <add key="IISIgnoreList" value=".NET v4.5 Classic|.NET v4.5|Classic .NET AppPool|.NET v2.0 Classic|.NET v2.0|ServerMonitor"/>
    <add key="WhitelistXmlPath" value="c:\inetpub\AutoDeployment\Config\WhiteListForCleanBuilds.config"/>
    <add key="OracleInstanceApi" value="http://server.Apptest.com/OracleInstanceManager/api"/>
    <add key="PathsToCheckSize" value="C:\Logs|C:\inetpub\wwwroot"/>
    <add key="ScheduledTasksToView" value="CleanBuilds|CleanUpBuilds"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
</configuration>